.content {
  width: 910px;
  margin-top: 25px;
}

.context {
  margin: 15px 15px;
}

.contentSubTitle {
  margin-bottom: 5px;
  width: 100%;
  overflow: hidden;
}

.contentSubTitle > h3 {
  animation: contentSubTitle 1200ms cubic-bezier(0.010, 0.570, 0.490, 1.150) forwards;
}

@keyframes contentSubTitle {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }
  40% {
    transform: translateY(100%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}

/* 소개페이지-내용 */
.description {
  overflow: hidden;
}

.description > p {
  font-size: 16px;
  line-height: 27px;
  animation: description 1300ms cubic-bezier(0.010, 0.570, 0.490, 1.150) forwards;
}

@keyframes description {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }
  50% {
    transform: translateY(100%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}

/* 뉴어울링 설명 */
.descBox {
  display: flex;
  padding: 15px;
}

.imgContainer {
  width: 300px;
  overflow: hidden;
}

.imgContainer > img,
.imgContainer > p {
  animation: contentSubTitle 1200ms cubic-bezier(0.010, 0.570, 0.490, 1.150) forwards;
}

.imgContainer > #eoulingImg {
  width: 250px;
  padding: 5px;
  display: block;
}

.imgContainer > #eoulingDockerImg{
  width: 150px;
  padding: 5px;
  display: block;
}

.imgContainer > p {
  width: 50%;
  margin: 10px auto;
  padding: 5px 10px;
  text-align: center;
  color: #ffffff;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
}

#newEouling {
  background-color: #75a2ff;
}

#newEoulingDocker {
  background-color: #37474f;
}

.textContainer {
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer > h3 {
  margin: 0;
}