/* 반응형 - 910px 이하부터 */
@media screen and (max-width: 910px) {

  .content {
    width: 90%;
    margin-top: 25px;
  }

  /* 소개페이지-타이틀 */
  #pageTitle {
    width: 90%;
    font-size: 35px;
    font-weight: 800;
    margin-top: 25px;
  }
  

  /* 뉴어울링 설명 */
  .descBox {
    flex-direction: column;
  }

  .textContainer {
    width: 100%;
  }
}