/* 반응형 - 910px 이하부터 */
@media screen and (max-width: 910px) {

  .content {
    width: 90%;
    margin-top: 25px;
  }

  /* 뉴어울링 설명 */
  .descBox {
    flex-direction: column;
  }

  .textContainer {
    width: 100%;
  }


  @media screen and (max-width: 380px) {
    .content {
      width: 340px;
    }
  }
}