/* 공지사항 상세 정보 */
#noticeDetailTable {
  width: 100%;
  text-align: left;
}

#noticeDetailTable td {
  border-left: 1px solid #989898ca;
  border-bottom: 1px solid #989898ca;
  padding: 13px;
}

#noticeDetailTable td:first-child {
  border-left: none;
}

#noticeDetailTable > tbody > tr:first-child > td:first-child {
  background-color: #aac6ff62;
}

#noticeFooter {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.detailBtnContainer {
  display: flex;
  justify-content: right;
  margin: 0;
}

.detailBtnContainer a {
  margin: 0;
}

#deleteBtn {
  border: .5px solid #ff1a1a95;
  color: #ff3e3e;
}

#deleteBtn:hover {
  background-color: #ff3e3e;
  color: #ffffff;
}

#noticeListBtn {
  width: 50px;
  height: 30px;
  background-color: #90909077;
  border: 1px solid #b2b2b2b3;
  border-radius: 5px;
}

/* 글 작성 화면 */
#articleInput {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#titleInput {
  margin: 5px;
  width: 100%;
  height: 45px;
  border: none;
  background-color: #dddddd41;
  padding: 9px 9px 7px;
  font-size: 17px;
  border-radius: 8px;
}

#titleInput::placeholder {
  color: #a1a1a1;
}

#contentInput {
  margin: 5px;
  width: 100%;
  height: 400px;
  padding: 10px;
  font-size: 15px;
  font-family: 'NanumSquareRound', sans-serif;
  border: 1px solid #6a6a6a4a;
}