/* 헤더 영역 */
header {
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: center;
  background-color: rgb(117, 162, 255);
  box-shadow: 0px 0px 5px;
  position: relative;
  z-index: 5;
}

header > #leftBlank,
header > #menuButton {
  display: none;
}

/* 헤더 - 로고 영역 */
#logo {
  width: 380px;
  height: 100%;
  margin: 0;
}

#logo a {
  height: 100%;
  display: flex;
  text-decoration: none;
  color: white;
}

#logo a img {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  filter: drop-shadow(0px 0px 5px rgb(80, 109, 173));
}

#logo p {
  margin: 0 6px;
  font-size: 37px;
  line-height: 95px;
  letter-spacing: 1.5px;
  font-family: 'NanumSquareRound', sans-serif;
  font-weight: 800;
  text-shadow: 0px 0px 10px rgb(80, 109, 173);
}

/* 헤더 - 네비게이션 메뉴 영역 */
.menu {
  width: 530px;
  height: 100%;
  margin: 0;
}a

.menu.active {
  display: none;
}

#nav > ul {
  display: flex;
  height: 100%;
  justify-content: right;
  align-items: center;
  padding: 0;
}

#nav > ul > li {
  list-style: none;
  margin: 5px 0 0;
  padding: 30px 5px;
  position: relative;
}

#nav > ul > li > .textBox {
  padding: 3px 20px 3px 10px;
  border-right: 2px solid rgba(51, 51, 51, 0.322);
}

#nav > ul > #login > .textBox:last-child {
  border: none;
}

#nav > ul > li > div > a {
  color: white;
  font-family: 'NanumSquareRound', sans-serif;
  font-size: 23px;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
}

#nav #ul_menu1,
#nav #ul_menu2 {
  display: none;
  width: 100%;
  position: absolute;
  list-style: none;
  flex-direction: column;
  text-align: center;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.936);
  border-radius: 5px;
  top: 92px;
  left: -3px;
  filter: drop-shadow(0px 0px 4px #80808051);
}

#nav #ul_menu1:after,
#nav #ul_menu2:after {
  content: "";
  position: absolute;
  top: -20px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid rgba(255, 255, 255, 0.936);
}

#nav #ul_menu1:after {
  left: 58px;
}

#nav #ul_menu2:after {
  left: 46px;
}

#nav ul > li > ul > li {
  font-family: 'NanumSquareRound', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
}

#nav ul > li > ul > li > a {
  color: rgba(46, 46, 46, 0.762);
  text-decoration: none;
}

#nav ul > li > ul > li > a:hover {
  text-shadow: 0px 0px 7px rgba(120, 120, 120, 0.337);
  color: black;
}

#nav > ul > li:hover > div > a {
  text-shadow: 0px 0px 7px rgb(80, 109, 173);
}

#nav > ul #li_menu1:hover > #ul_menu1,
#nav > ul #li_menu2:hover > #ul_menu2 {
  display: block;
  z-index: 10;
}

#login {
  margin-right: 10px;
}